http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/github/ropensci/wellknown/dependencies?api_key=<<libraries_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '60'
      x-ratelimit-remaining: '58'
      etag: W/"21c5f8750943b2c4bc5b362ddeacacbb"
      x-cloud-trace-context: 46f9279f03642eb05c2e1e9caf08bc8e/990294322784872773;o=0
    body:
      encoding: UTF-8
      file: no
      string: '{"full_name":"ropensci/wellknown","description":"WKT \u003c-\u003e
        GeoJSON","fork":false,"created_at":"2015-01-22T00:19:18.000Z","updated_at":"2019-10-11T19:17:47.939Z","pushed_at":"2019-02-25T23:32:36.000Z","homepage":"https://docs.ropensci.org/wellknown","size":298,"stargazers_count":15,"language":"R","has_issues":true,"has_wiki":false,"has_pages":false,"forks_count":1,"mirror_url":null,"open_issues_count":7,"default_branch":"master","subscribers_count":6,"uuid":"29632266","source_name":null,"license":"Other","private":false,"contributions_count":2,"has_readme":"README.Rmd","has_changelog":null,"has_contributing":".github/CONTRIBUTING.md","has_license":"LICENSE","has_coc":"CODE_OF_CONDUCT.md","has_threat_model":null,"has_audit":null,"status":null,"last_synced_at":"2019-10-11T19:17:47.501Z","rank":6,"host_type":"GitHub","host_domain":null,"name":null,"scm":"git","fork_policy":null,"github_id":"29632266","pull_requests_enabled":null,"logo_url":null,"github_contributions_count":2,"keywords":["geojson","geospatial","r","r-package","rstats","spatial","wellknown","wkb","wkt"],"dependencies":[{"project_name":"testthat","name":"testthat","platform":"cran","requirements":"*","latest_stable":"2.3.1","latest":"2.3.1","deprecated":false,"outdated":false,"filepath":"DESCRIPTION","kind":"suggests","normalized_licenses":["MIT"]},{"project_name":"leaflet","name":"leaflet","platform":"cran","requirements":"\u003e=
        1.0.0","latest_stable":"2.0.3","latest":"2.0.3","deprecated":false,"outdated":false,"filepath":"DESCRIPTION","kind":"suggests","normalized_licenses":["GPL-3.0"]},{"project_name":"rmarkdown","name":"rmarkdown","platform":"cran","requirements":"*","latest_stable":"0.9.6","latest":"1.18","deprecated":false,"outdated":false,"filepath":"DESCRIPTION","kind":"suggests","normalized_licenses":["GPL-3.0"]},{"project_name":"knitr","name":"knitr","platform":"cran","requirements":"*","latest_stable":"1.15.1","latest":"1.23","deprecated":false,"outdated":false,"filepath":"DESCRIPTION","kind":"suggests","normalized_licenses":["CNRI-Python-GPL-Compatible","CNRI-Python-GPL-Compatible"]},{"project_name":"V8","name":"V8","platform":"cran","requirements":"\u003e=
        1.0.2","latest_stable":"3.0.2","latest":"3.0.2","deprecated":false,"outdated":false,"filepath":"DESCRIPTION","kind":"imports","normalized_licenses":["MIT"]},{"project_name":"jsonlite","name":"jsonlite","platform":"cran","requirements":"\u003e=
        0.9.21","latest_stable":"1.6.1","latest":"1.6.1","deprecated":false,"outdated":false,"filepath":"DESCRIPTION","kind":"imports","normalized_licenses":["MIT"]}]}'
  recorded_at: 2020-03-18 01:11:10 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
