http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/platforms?api_key=<<libraries_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '60'
      x-ratelimit-remaining: '59'
      etag: W/"8fb925ee17690270f802ea3b8dbe7d07"
      x-cloud-trace-context: b55081f5936e41d2af0f6b8da595b26e/2147864950127268148;o=0
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"Go","project_count":1818631,"homepage":"http://go-search.org/","color":"#375eab","default_language":null},{"name":"NPM","project_count":1333545,"homepage":"https://www.npmjs.com","color":"#f1e05a","default_language":"JavaScript"},{"name":"Packagist","project_count":323139,"homepage":"https://packagist.org","color":"#4F5D95","default_language":"PHP"},{"name":"Pypi","project_count":243838,"homepage":"https://pypi.org/","color":"#3572A5","default_language":"Python"},{"name":"NuGet","project_count":201182,"homepage":"https://www.nuget.org","color":"#178600","default_language":"C#"},{"name":"Maven"[...]
