http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/npm/grunt/latest/dependencies?api_key=<<libraries_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '60'
      x-ratelimit-remaining: '58'
      etag: W/"1f42d732b5a5690976957944ed6e6a95"
      x-cloud-trace-context: dcc2f432acfea4c9af1fb32e8566728a/16428395943330227853;o=0
    body:
      encoding: UTF-8
      file: no
      string: '{"dependent_repos_count":386381,"dependents_count":39369,"deprecation_reason":null,"description":"The
        JavaScript Task Runner","forks":1549,"homepage":"https://gruntjs.com/","keywords":["task","async","cli","minify","uglify","build","lodash","unit","test","qunit","nodeunit","server","init","scaffold","make","jake","tool"],"language":"JavaScript","latest_download_url":"https://registry.npmjs.org/grunt/-/grunt-1.1.0.tgz","latest_release_number":"1.1.0","latest_release_published_at":"2020-03-17T02:37:19.588Z","latest_stable_release":{"id":25513041,"project_id":284257,"number":"1.1.0","published_at":"2020-03-17T02:37:19.588Z","created_at":"2020-03-17T03:03:49.077Z","updated_at":"2020-03-17T03:03:49.077Z","runtime_dependencies_count":null},"latest_stable_release_number":"1.1.0","latest_stable_release_published_at":"2020-03-17T02:37:19.588Z","license_normalized":false,"licenses":"MIT","name":"grunt","normalized_licenses":["MIT"],"package_manager_url":"https://www.npmjs.com/package/grunt","platform":"NPM","rank":31,"repository_url":"https://github.com/gruntjs/grunt","stars":11969,"status":null,"versions":[{"number":"0.1.0","published_at":"2012-01-12T13:08:51.911Z"},{"number":"0.1.1","published_at":"2012-01-19T15:01:53.028Z"},{"number":"0.1.2","published_at":"2012-01-19T15:25:39.520Z"},{"number":"0.2.0","published_at":"2012-01-22T17:32:05.267Z"},{"number":"0.2.1","published_at":"2012-01-23T01:30:52.673Z"},{"number":"0.2.10","published_at":"2012-02-01T02:10:18.439Z"},{"number":"0.2.11","published_at":"2012-02-01T04:16:44.229Z"},{"number":"0.2.12","published_at":"2012-02-01T19:26:26.508Z"},{"number[...]
