http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/github/sckott/repository-contributions?api_key=<<libraries_token>>&page=1&per_page=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      link: <https://libraries.io/api/github/sckott/repository-contributions?api_key=<<libraries_token>>&page=223&per_page=3>;
        rel="last", <https://libraries.io/api/github/sckott/repository-contributions?api_key=<<libraries_token>>&page=2&per_page=3>;
        rel="next"
      per-page: '3'
      total: '667'
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '60'
      x-ratelimit-remaining: '56'
      etag: W/"22b1c3962ba712b2b147e98b56a75d22"
      x-cloud-trace-context: b61d98e37ec9febf9def0598b73343b3/17629471113698020174;o=0
    body:
      encoding: UTF-8
      file: no
      string: '[{"full_name":"elastic/elasticsearch","description":"Open Source, Distributed,
        RESTful Search Engine","fork":false,"created_at":"2010-02-08T13:20:56.000Z","updated_at":"2020-03-05T05:49:44.757Z","pushed_at":"2020-02-17T20:57:11.000Z","homepage":"https://www.elastic.co/products/elasticsearch","size":706916,"stargazers_count":47046,"language":"Java","has_issues":true,"has_wiki":false,"has_pages":false,"forks_count":15994,"mirror_url":null,"open_issues_count":2507,"default_branch":"master","subscribers_count":2782,"uuid":"507775","source_name":null,"license":"Other","private":false,"contributions_count":837,"has_readme":"README.textile","has_changelog":null,"has_contributing":"CONTRIBUTING.md","has_license":"LICENSE.txt","has_coc":null,"has_threat_model":null,"has_audit":null,"status":null,"last_synced_at":"2018-12-05T10:33:40.511Z","rank":21,"host_type":"GitHub","host_domain":null,"name":null,"scm":"git","fork_policy":null,"github_id":"507775","pull_requests_enabled":null,"logo_url":null,"github_contributions_count":837,"keywords":["elasticsearch","java","search-engine"]},{"full_name":"etcd-io/etcd","description":"Distributed
        reliable key-value store for the most critical data of a distributed system","fork":false,"created_at":"2013-07-06T21:57:21.000Z","updated_at":"2019-12-25T07:09:09.000Z","pushed_at":"2019-12-25T01:07:12.000Z","homepage":"https://etcd.io","size":56984,"stargazers_count":28872,"language":"Go","has_issues":true,"has_wiki":false,"has_pages":false,"forks_count":5955,"mirror_url":null,"open_issues_[...]
