http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/github/ropensci/projects?api_key=<<libraries_token>>&page=1&per_page=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      link: <https://libraries.io/api/github/ropensci/projects?api_key=<<libraries_token>>&page=69&per_page=3>;
        rel="last", <https://libraries.io/api/github/ropensci/projects?api_key=<<libraries_token>>&page=2&per_page=3>;
        rel="next"
      per-page: '3'
      total: '205'
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '60'
      x-ratelimit-remaining: '58'
      etag: W/"49c27f1fbcb8d4a5827c4320ce6644fb"
      x-cloud-trace-context: 255339b1abef04ac1efd5a1c9438ea32/15893511562554974300;o=0
    body:
      encoding: UTF-8
      file: no
      string: '[{"dependent_repos_count":175,"dependents_count":174,"deprecation_reason":null,"description":"Tools
        for Spell Checking in R","forks":18,"homepage":"https://github.com/ropensci/spelling#readme","keywords":["r","r-package","rstats","spell-check","spell-checker","spellcheck","spellchecker","spelling"],"language":"R","latest_download_url":"https://cran.r-project.org/src/contrib/spelling_2.1.tar.gz","latest_release_number":"2.1","latest_release_published_at":"2019-03-11T00:00:00.000Z","latest_stable_release":null,"latest_stable_release_number":null,"latest_stable_release_published_at":null,"license_normalized":false,"licenses":"MIT
        + file LICENSE","name":"spelling","normalized_licenses":["MIT"],"package_manager_url":"https://cran.r-project.org/package=spelling","platform":"CRAN","rank":16,"repository_url":"https://github.com/ropensci/spelling","stars":66,"status":null,"versions":[{"number":"1.0","published_at":"2017-08-28T00:00:00.000Z"},{"number":"1.1","published_at":"2017-12-18T00:00:00.000Z"},{"number":"1.2","published_at":"2018-07-09T16:20:00.000Z"},{"number":"2.0","published_at":"2018-12-17T00:00:00.000Z"},{"number":"2.1","published_at":"2019-03-11T00:00:00.000Z"}]},{"dependent_repos_count":131,"dependents_count":68,"deprecation_reason":null,"description":"Advanced
        Graphics and Image-Processing in R","forks":60,"homepage":"https://docs.ropensci.org/magick
        (website)\nhttps://github.com/ropensci/magick (devel)","keywords":["image-magick","image-manipulation","image-processing","imagemagick","imagemagick-wrapper","magick","r","r-package","rstats"],"language":"R","latest_download_url":"https://cran.r-project.org/src/contrib/magick_2.3.tar.gz","latest_release_number":"2.3","latest_release_published_at":"2020-01-24T00:00:00.000Z","latest_stable_release":{"id":6589695,"project_id":1587924,"number":"0.2.2","published_at":"2016-08-19T00:00:00.000Z","created_at":"2016-08-19T15:41:07.097Z","updated_at":"2016-08-19T15:41:07.097Z","runtime_dependencies_count":0},"latest_stable_release_number":"0.2.2","latest_stable_release_published_at":"2016-08-19T00:00:00.000Z","license_normalized":true,"licenses":"MIT
        + file LICENSE","name":"magick","normalized_licenses":["MIT"],"package_manager_url":"https://cran.r-project.org/package=magick","platform":"CRAN","rank":16,"repository_url":"https://github.com/docs.ropensci.org/magickwebsite","stars":310,"status":null,"versions":[{"number":"0.1","published_at":"2016-07-24T00:00:00.000Z"},{"number":"0.2","publ[...]
