http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/npm/geojson-random/dependents?api_key=<<libraries_token>>&page=1&per_page=30
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      per-page: '30'
      total: '12'
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '60'
      x-ratelimit-remaining: '57'
      etag: W/"e96994eb044285288941a4ec0084d8d3"
      x-cloud-trace-context: 628514d0cc4149c1b75afe221a613a8b/6950304548938689853;o=0
    body:
      encoding: UTF-8
      file: no
      string: '[{"dependent_repos_count":293,"dependents_count":23,"deprecation_reason":null,"description":"turf
        random module","forks":571,"homepage":"https://github.com/Turfjs/turf","keywords":["turf","gis","algorithm","computational-geometry","geojson","javascript"],"language":"JavaScript","latest_download_url":"https://registry.npmjs.org/@turf/random/-/@turf/random-6.0.2.tgz","latest_release_number":"6.0.2","latest_release_published_at":"2018-04-04T13:10:14.747Z","latest_stable_release":{"id":12839164,"project_id":1567169,"number":"6.0.2","published_at":"2018-04-04T13:10:14.747Z","created_at":"2018-04-27T08:09:57.146Z","updated_at":"2018-04-27T08:09:57.146Z","runtime_dependencies_count":null},"latest_stable_release_number":"6.0.2","latest_stable_release_published_at":"2018-04-04T13:10:14.747Z","license_normalized":false,"licenses":"MIT","name":"@turf/random","normalized_licenses":["MIT"],"package_manager_url":"https://www.npmjs.com/package/@turf/random","platform":"NPM","rank":17,"repository_url":"https://github.com/Turfjs/turf","stars":5009,"status":null,"versions":[{"number":"3.0.15","published_at":"2016-07-06T15:58:23.042Z"},{"number":"3.0.16","published_at":"2016-07-06T17:16:58.215Z"},{"number":"3.10.0","published_at":"2017-02-14T20:30:01.825Z"},{"number":"3.13.0","published_at":"2017-03-12T05:01:49.102Z"},{"number":"3.14.0","published_at":"2017-03-22T15:52:28.433Z"},{"number":"3.3.3","published_at":"2016-07-13T16:40:55.017Z"},{"number":"3.5.2","published_at":"2016-08-22T22:21:20.253Z"},{"number":"3.5.2-alpha.d2c36ee7","published_at":"2016-11-04T19:33:1[...]
