http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/github/ropensci/?api_key=<<libraries_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '60'
      x-ratelimit-remaining: '56'
      etag: W/"cde505ca6a52a18ed2aec26f09136be2"
      x-cloud-trace-context: 4a98b06f3a0db7dbabcaf081388351ae/5030094821953417266;o=0
    body:
      encoding: UTF-8
      file: no
      string: '{"github_id":"1200269","login":"ropensci","user_type":"Organisation","created_at":"2015-04-07T11:53:26.784Z","updated_at":"2019-05-01T18:13:14.577Z","name":"rOpenSci","company":null,"blog":"https://ropensci.org/","location":"Berkeley,
        CA","hidden":false,"last_synced_at":"2019-05-01T18:13:14.566Z","email":"info@ropensci.org","bio":null,"followers":0,"following":0,"uuid":"1200269","host_type":"GitHub"}'
  recorded_at: 2020-03-18 01:11:59 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
