http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/github/sckott/project-contributions?api_key=<<libraries_token>>&page=1&per_page=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      link: <https://libraries.io/api/github/sckott/project-contributions?api_key=<<libraries_token>>&page=161&per_page=3>;
        rel="last", <https://libraries.io/api/github/sckott/project-contributions?api_key=<<libraries_token>>&page=2&per_page=3>;
        rel="next"
      per-page: '3'
      total: '482'
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '60'
      x-ratelimit-remaining: '57'
      etag: W/"51bed5afaa0614c3e04d8cf1edc8ac19"
      x-cloud-trace-context: 053b9361e6de360a0682427bf8fdc1bd/18078148161655957981;o=0
    body:
      encoding: UTF-8
      file: no
      string: '[{"dependent_repos_count":12084,"dependents_count":3233,"deprecation_reason":null,"description":"Record
        your test suite''s HTTP interactions and replay them during future test runs
        for fast, deterministic, accurate tests.","forks":447,"homepage":"https://relishapp.com/vcr/vcr/docs","keywords":[],"language":"Ruby","latest_download_url":"https://rubygems.org/downloads/vcr-5.1.0.gem","latest_release_number":"5.1.0","latest_release_published_at":"2020-02-05T19:16:06.514Z","latest_stable_release":{"id":24745804,"project_id":265103,"number":"5.1.0","published_at":"2020-02-05T19:16:06.514Z","created_at":"2020-02-05T19:16:56.247Z","updated_at":"2020-02-05T19:16:56.247Z","runtime_dependencies_count":0},"latest_stable_release_number":"5.1.0","latest_stable_release_published_at":"2020-02-05T19:16:06.514Z","license_normalized":true,"licenses":"MIT-Hippocratic-1.2","name":"vcr","normalized_licenses":["Other"],"package_manager_url":"https://rubygems.org/gems/vcr","platform":"Rubygems","rank":26,"repository_url":"https://github.com/vcr/vcr","stars":4671,"status":null,"versions":[{"number":"0.1.0","published_at":"2010-02-25T18:01:14.667Z"},{"number":"0.1.1","published_at":"2010-02-26T03:08:32.971Z"},{"number":"0.1.2","published_at":"2010-03-04T17:29:20.747Z"},{"number":"0.2.0","published_at":"2010-03-09T19:33:54.148Z"},{"number":"0.3.0","published_at":"2010-03-25T03:28:41.579Z"},{"number":"0.3.1","published_at":"2010-04-11T06:24:54.996Z"},{"number":"0.4.0","published_at":"2010-04-29T02:51:55.037Z"},{"number":"0.4.1","published_at":"2010-05-12T03:38:25.484Z"},{"number":"[...]
