http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/npm/turf/sourcerank?api_key=<<libraries_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '60'
      x-ratelimit-remaining: '54'
      etag: W/"ae205647182c430c514850e4903ba3f9"
      x-cloud-trace-context: 88a9c82fd772b47cc7e4606fd3a2476a/5097190539502461674;o=0
    body:
      encoding: UTF-8
      file: no
      string: '{"basic_info_present":1,"repository_present":1,"readme_present":1,"license_present":1,"versions_present":1,"follows_semver":1,"recent_release":0,"not_brand_new":1,"one_point_oh":1,"dependent_projects":4,"dependent_repositories":3,"stars":4,"contributors":1,"subscribers":0,"all_prereleases":0,"any_outdated_dependencies":-1,"is_deprecated":0,"is_unmaintained":0,"is_removed":0}'
  recorded_at: 2020-03-18 01:10:06 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
