http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/npm/geojson-random/dependent_repositories?api_key=<<libraries_token>>&page=1&per_page=30
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      link: <https://libraries.io/api/npm/geojson-random/dependent_repositories?api_key=<<libraries_token>>&page=6&per_page=30>;
        rel="last", <https://libraries.io/api/npm/geojson-random/dependent_repositories?api_key=<<libraries_token>>&page=2&per_page=30>;
        rel="next"
      per-page: '30'
      total: '159'
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '60'
      x-ratelimit-remaining: '56'
      etag: W/"5216a23bdef995d0516f44038bc25c81"
      x-cloud-trace-context: d290b904621adc827597044bd5419282/14811325473275986639;o=0
    body:
      encoding: UTF-8
      file: no
      string: '[{"full_name":"Project-OSRM/osrm-backend","description":"Open Source
        Routing Machine - C++ backend","fork":false,"created_at":"2011-09-22T10:05:08.000Z","updated_at":"2020-02-12T16:26:05.000Z","pushed_at":"2019-12-22T13:46:42.000Z","homepage":"http://map.project-osrm.org","size":31352,"stargazers_count":3550,"language":"C++","has_issues":true,"has_wiki":true,"has_pages":false,"forks_count":1963,"mirror_url":null,"open_issues_count":723,"default_branch":"master","subscribers_count":223,"uuid":"2436255","source_name":null,"license":"BSD-2-Clause","private":false,"contributions_count":106,"has_readme":"README.md","has_changelog":"CHANGELOG.md","has_contributing":"CONTRIBUTING.md","has_license":"LICENSE.TXT","has_coc":"CODE-OF-CONDUCT.md","has_threat_model":null,"has_audit":null,"status":null,"last_synced_at":"2019-02-16T20:42:26.011Z","rank":11,"host_type":"GitHub","host_domain":null,"name":null,"scm":"git","fork_policy":null,"github_id":"2436255","pull_requests_enabled":null,"logo_url":null,"github_contributions_count":106,"keywords":["c-plus-plus","cpp","cpp14","isochrones","map-matching","openstreetmap","osm","osrm","routing","routing-engine","traveling-salesman"]},{"full_name":"mapbox/geojson.io","description":"IMPORTANT:
        development of this project has been paused, see the README (fast, simple
        map creation)","fork":false,"created_at":"2013-05-10T20:14:10.000Z","updated_at":"2020-02-11T06:27:31.000Z","pushed_at":"2019-12-11T22:09:05.000Z","homepage":"http://geojson.io/","size":9191,"stargazers_count":1297,[...]
