http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/npm/turf/contributors?api_key=<<libraries_token>>&page=1&per_page=30
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      link: <https://libraries.io/api/npm/turf/contributors?api_key=<<libraries_token>>&page=4&per_page=30>;
        rel="last", <https://libraries.io/api/npm/turf/contributors?api_key=<<libraries_token>>&page=2&per_page=30>;
        rel="next"
      per-page: '30'
      total: '96'
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '60'
      x-ratelimit-remaining: '55'
      etag: W/"65d41e31f337ee1e0d53c89d985266ea"
      x-cloud-trace-context: 2b0d8c9075de6289241ead68b69849bf/17849838499457515106;o=0
    body:
      encoding: UTF-8
      file: no
      string: "[{\"github_id\":\"550895\",\"login\":\"DenisCarriere\",\"user_type\":\"User\",\"created_at\":\"2015-02-17T05:58:10.109Z\",\"updated_at\":\"2019-11-13T12:39:22.355Z\",\"name\":\"Denis\",\"company\":\"EOS-Nation\",\"blog\":\"https://twitter.com/DenisCarriere\",\"location\":\"Ottawa,
        ON Canada\",\"hidden\":false,\"last_synced_at\":\"2017-02-23T22:00:09.033Z\",\"email\":null,\"bio\":\"Co-Founder
        and CTO @EOS-Nation  \U0001F680\U0001F31F\",\"uuid\":\"550895\",\"host_type\":\"GitHub\"},{\"github_id\":\"814300\",\"login\":\"morganherlocker\",\"user_type\":\"User\",\"created_at\":\"2015-02-03T01:52:28.269Z\",\"updated_at\":\"2017-01-01T02:03:20.938Z\",\"name\":\"Morgan
        Herlocker\",\"company\":\"Mapbox\",\"blog\":\"http://morganherlocker.com/\",\"location\":\"Oakland,
        CA\",\"hidden\":false,\"last_synced_at\":\"2017-01-01T02:03:20.031Z\",\"email\":\"morgan.herlocker@gmail.com\",\"bio\":null,\"uuid\":\"814300\",\"host_type\":\"GitHub\"},{\"github_id\":\"[...]
