http_interactions:
- request:
    method: get
    uri: https://libraries.io/api/github/ropensci/dependencies?api_key=<<libraries_token>>&page=1&per_page=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      link: <https://libraries.io/api/github/ropensci/dependencies?api_key=<<libraries_token>>&page=462&per_page=3>;
        rel="last", <https://libraries.io/api/github/ropensci/dependencies?api_key=<<libraries_token>>&page=2&per_page=3>;
        rel="next"
      per-page: '3'
      total: '1385'
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '60'
      x-ratelimit-remaining: '55'
      etag: W/"57d415b960f3c8c8d425223d51224744"
      x-cloud-trace-context: 2ec658b58559af2c507f5269ebcec6d7/10953040889503257601;o=0
    body:
      encoding: UTF-8
      file: no
      string: '[{"dependent_repos_count":473912,"dependents_count":207277,"deprecation_reason":null,"description":"simple,
        flexible, fun test framework","forks":2596,"homepage":"https://mochajs.org/","keywords":["mocha","test","bdd","tdd","tap","browser","javascript","mochajs","node","nodejs","test-framework","testing","testing-tools"],"language":"JavaScript","latest_download_url":"https://registry.npmjs.org/mocha/-/mocha-7.0.0.tgz","latest_release_number":"7.0.0","latest_release_published_at":"2020-01-04T18:59:15.626Z","latest_stable_release":{"id":24173462,"project_id":295363,"number":"7.0.0","published_at":"2020-01-04T18:59:15.626Z","created_at":"2020-01-07T13:08:11.539Z","updated_at":"2020-01-07T13:08:11.539Z","runtime_dependencies_count":24},"latest_stable_release_number":"7.0.0","latest_stable_release_published_at":"2020-01-04T18:59:15.626Z","license_normalized":false,"licenses":"MIT","name":"mocha","normalized_licenses":["MIT"],"package_manager_url":"https://www.npmjs.com/package/mocha","platform":"NPM","rank":32,"repository_url":"https://github.com/mochajs/mocha","stars":18974,"status":"","versions":[{"number":"0.0.1","published_at":"2011-11-22T20:07:07.235Z"},{"number":"0.0.1-alpha1","published_at":"2011-11-08T23:08:57.384Z"},{"number":"0.0.1-alpha2","published_at":"2011-11-14T17:21:09.435Z"},{"number":"0.0.1-alpha3","published_at":"2011-11-15T18:11:50.401Z"},{"number":"0.0.1-alpha4","published_at":"2011-11-15T19:06:14.194Z"},{"number":"0.0.1-alpha5","published_at":"2011-11-17T15:52:14.087Z"},{"number":"0.0.1-alpha6","published_at":"2011-11-20T00:00:59.173Z"},{"number":"0.0.2","published_a[...]
